$hPoint: 0.09259vh;

// TABLE
$borderColor: rgba(
  $color: #000000,
  $alpha: 0.2,
);
$border: calc(1 * $hPoint) solid $borderColor;
$rowWidth: calc(35 * $hPoint);
$border-raduis: calc(10 * $hPoint);

%common-modal {
  border: calc(1 * $hPoint) solid rgba(0, 0, 0, 0.5);
  border-radius: calc(10 * $hPoint);
  box-shadow: 0 calc(4 * $hPoint) calc(4 * $hPoint) 0 rgba(0, 0, 0, 0.25);
}
