@import '../../../../styles/variables.scss';

.dialyHabits {
  display: grid;
  grid-template-rows: calc(40 * $hPoint);
  grid-auto-rows: $rowWidth;

  border: 1px solid rgba(0, 0, 0, 0.2);

  &-title {
    font-weight: normal;
    font-size: 1rem;

    align-self: center;
  }

  &__habit {
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;

    position: relative;

    padding: 2% 3%;

    &-delete {
      position: absolute;

      left: calc(-35 * $hPoint);
      cursor: pointer;

      opacity: 0;

      transition: opacity 0.2s ease-in-out;

      color: red;

      &:hover {
        opacity: 0.2;
      }
    }

    &-icon {
      align-self: center;
      height: calc(25 * $hPoint);
      width: calc(25 * $hPoint);

      cursor: pointer;
    }

    &-name {
      margin-left: calc(10 * $hPoint);
    }

    &-status {
      margin-left: auto;
      height: calc(25 * $hPoint);
      width: calc(25 * $hPoint);
    }

    &__iconsModal {
      @extend %common-modal;

      z-index: 10;

      position: absolute;
      overflow-y: scroll;

      background-color: white;

      display: flex;
      flex-wrap: wrap;
      top: calc(34 * $hPoint);
      left: calc(-35 * $hPoint);
      gap: calc(12 * $hPoint);

      padding: calc(8 * $hPoint);

      max-width: calc(120 * $hPoint);
      max-height: calc(100 * $hPoint);

      &-element {
        width: calc(25 * $hPoint);
        align-items: center;
        cursor: pointer;
      }

      &-icon {
        height: calc(20 * $hPoint);
      }
    }
  }

  &__add {
    border-top: $border;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    gap: calc(8 * $hPoint);

    b {
      font-size: 1.8em;

      font-weight: 500;
    }
  }

  &__input {
    padding-left: 3%;
  }
}
